/*General*/
* {
    font-family: monospace;
}
/*Background img*/
body {
    background-image: url("images/arona.png");
    background-size:146%;
}

/*Nav Bar please change to flex*/
#navigations {
    background-color: rgba(0, 0, 0, 0.5);
}

#navigations ul {
    list-style-type: none;
    display:flex;
    justify-content: center;
    width:100%;
    height:50px;
    text-align: center;
    overflow:hidden;
}
#navigations ul li{
    display: inline-block;
    float: none;
    width: 100px;
    height: 100%;
    padding: 0 20px 0 20px;
    transition: ease, 1s;
}

#navigations ul li a {
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

#navigations ul li a p {
    font-size: 14px;
    padding: 5px;
}

#navigations ul li:hover {
    background-color: black;
    transition: 0.5s, ease;
}

/*--main content*/
/*for the integrated slider part*/
main {
    padding-top: 800px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(207, 244, 255, 0.5);
    width: 65%;
    flex-direction: column;
    overflow:scroll;
    flex-wrap: nowrap;
    max-height: 50px;
}

/*-for the content itself*/
/*heading and subtitle*/
main h1 {
    font-size: 102px;
    font-weight:700;
    letter-spacing: 10px;
    color:white;
    text-shadow: rgb(48, 44, 48) 2px 2px 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    border: rgb(101, 237, 255) solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-width: 6px;
    margin-bottom: 5px;
    background-color: rgba(128, 128, 128, 0.1);
}
h2 {
    font-size: 52px;
    font-weight:600;
    color:black;
    text-shadow: rgb(187, 253, 255) 2px 2px 5px;
    margin: 10px;
}
h3 {
    font-size: 30px;
    font-weight:550;
    color:rgb(255, 255, 255);
    text-shadow: rgb(48, 44, 48) 2px 2px 10px;
    padding: 7px 16px;
    background-color: rgba(78, 78, 78, 0.4);
    width: 180px;
    text-align: center;
    border-radius: 3px;
    margin: 45px 0 15px 0;
}
/*about me*/
#profile {
    width: 340px;
    padding: 10px;
    background-color: rgba(84, 96, 100, 0.5);
    margin: 10px 0;
    border-radius: 8px;
    transition: 0.5s ease;
}

#extraSkills, #aboutme {
    margin-top: 5px;
    padding: 12px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 18px;
}

#protime {
    background-color: rgba(228, 179, 255, 0.5);
}
/*-Projects*/
#extraProjects, #projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.projectContainer {
    text-align: center;
    border-radius: 20px;
    background-color: rgb(229, 223, 240);
    padding: 10px;
    margin: 20px;
    transition: 0.5s ease;
}
.projectContainer:hover {
    background-color: rgb(69, 218, 255);
    transition: 0.5s ease;
}
.projectContainer h4 {
    font-size: 22px;
    margin: 5px 0;
}
.projectContainer img {
    opacity: 0.9;
    width:150px;
    height:150px;
    border-radius: 5px;
}
/*-skills*/
#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.skillsContainer {
    margin: 12px;
    margin-bottom: 10px;
}
.skillsContainer a img{
    width: 75px;
}

/*contact me page*/
#contactme {
    text-align: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 25px;
    margin: 50px auto;
}

#contactme h1 {
    font-size: 24px;
    font-weight:700;
    letter-spacing: 10px;
    color:white;
    text-shadow: rgb(48, 44, 48) 2px 2px 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    background-color: rgba(128, 128, 128, 0.1);
}

#imglinks {
    display: flex;
    justify-content: space-around;
}

#imglinks a img{
    width: 70px;
    height: 70px;
}